<span class="uk-flex uk-child-width-1-2">
  <span>{{t "ember-gwr.buildingWork.kindOfWork"}}</span>
  <span class="uk-text-muted">{{if
      @model.kindOfWork
      (t (concat "ember-gwr.buildingWork.kindOfWorkOptions." @model.kindOfWork))
      "-"
    }}</span>
</span>
<hr />
<BuildingPreview @model={{@model.building}} />
