@import "ember-uikit";

.ebau-gwr {
  #ember-ebau-gwr-modal-container {
    div.uk-modal {
      position: absolute;
      width: 100%;
      height: 100%;
      top: unset;
      left: unset;
      bottom: unset;
      right: unset;
    }
  }
}

$ember-ebau-gwr-required-color: $alert-danger-color !default;
.required-indicator {
  color: $ember-ebau-gwr-required-color;
}
