@import "ember-uikit/variables-theme";
@import "validated-form";
@import "ember-power-select";

.ebau-gwr {

  .ember-ebau-gwr-login .ember-power-select-status-icon {
    @extend .uk-invisible;
  }
}

$ember-ebau-gwr-required-color: $alert-danger-color !default;
.required-indicator {
  color: $ember-ebau-gwr-required-color;
}

#ember-ebau-gwr-logout {
  text-decoration: none;
  min-height: $spinner-size;
}


.uk-highlight-hover:hover {
  @extend .uk-text-muted;
}

.ember-ebau-gwr-label-width {
  width: 120px;

  .uk-label {
    width: 80px;
  }
}

.ember-ebau-gwr-label-height {
  height: 24.5px;
}

#ember-ebau-gwr-header-errors {
  li:last-child {
    padding-bottom: $padding-padding;
  }
}

.ember-ebau-gwr-label-color-danger {
  color: $alert-danger-color;
  border: 1px solid $alert-danger-color;
  background-color: $alert-danger-background;
}

.ember-ebau-gwr-label-color-warning {
  color: $alert-warning-color;
  border: 1px solid $alert-warning-color;
  background-color: $alert-warning-background;
}

.ember-ebau-gwr-label-color-success {
  color: $alert-success-color;
  border: 1px solid $alert-success-color;
  background-color: $alert-success-background;
}

.ember-ebau-gwr-label-color-default {
  color: $alert-color;
  border: 1px solid $alert-color;
  background-color: $alert-background;
}

.ember-ebau-gwr-submit-errors-multiple {
  text-transform: revert;
}

.ember-ebau-gwr-submit-errors-multiple:hover {
  color: red;
}

.ember-ebau-gwr-model-errors-icon {
  polyline {
    stroke-width: 2;
  }

  path {
    stroke-width: 2;
  }
}
