<tbody>
  {{#each @results as |result|}}
    <tr ...attributes>
      {{yield (component "search/result-table/row/field" data=result) result}}
    </tr>
  {{else}}
    <tr>
      <td colspan="99" class="uk-text-center">
        {{t "ember-gwr.components.search.noResults"}}
      </td>
    </tr>
  {{/each}}
  {{#if @loading}}
    <tr>
      <td colspan="99" class="uk-text-center">
        {{t "ember-gwr.components.search.loading"}}
      </td>
    </tr>
  {{/if}}
</tbody>