<div>
  <span class="uk-text-bold">{{t
      "ember-gwr.quarterlyClosure.status.label"
    }}</span>
  <div uk-alert class="uk-margin-remove">
    <p>{{this.quarterlyClosure.status.label}}</p>
  </div>
</div>
