<h2>
  {{t
    "ember-gwr.globalLandingPage.quarterlyClosure"
    quarter=(current-quarter showYear=true)
  }}
</h2>
{{#if this.displayErrorInfo}}
  <div uk-alert class="uk-alert-warning uk-margin-remove">
    <div class="uk-flex uk-flex-middle">
      <FaIcon
        @icon="circle-exclamation"
        @fixedWidth={{true}}
        class="uk-text-warning uk-margin-small-right"
      />
      {{t "ember-gwr.quarterlyClosure.needsCorrection"}}
    </div>
</div>
{{/if}}
