<table
  class="uk-table uk-table-middle uk-table-divider uk-table-striped uk-margin-top"
  ...attributes
>
  {{yield
    (component "search/result-table/head")
    (component "search/result-table/row" results=@results loading=@loading)
  }}
</table>