<div>
  <div class="uk-flex uk-flex-center uk-flex-middle uk-margin-large-top">
    <div class="uk-flex uk-flex-column uk-width-2-3">
      <h2>
        {{t "ember-gwr.projectLandingPage.heading"}}
      </h2>

      <p>
        {{t "ember-gwr.projectLandingPage.infoText"}}
      </p>

      <div class="uk-flex uk-flex-between">
        <div class="uk-margin-large-right">
          <LinkTo @route="project.new" class="uk-button uk-button-primary">
            {{t "ember-gwr.projectLandingPage.createNewProject"}}
          </LinkTo>
        </div>
        <div>
          <LinkTo @route="search-project" class="uk-button uk-button-primary">
            {{t "ember-gwr.projectLandingPage.linkExistingProject"}}
          </LinkTo>
        </div>
      </div>
    </div>
  </div>
</div>
