<UkFlex @horizontal="center">
  {{#let
    (if
      @model
      (component "link-to" route=@route model=@model)
      (component "link-to" route=@route)
    )
    as |Link|
  }}
    <Link
      class="uk-button uk-button-default uk-width-medium uk-height-medium uk-flex uk-flex-middle uk-flex-column ember-ebau-gwr-title-card"
      ...attributes
    >
      <div class="title-card-content">
        <FaIcon
          @icon={{or @icon.name @icon}}
          @prefix={{@icon.prefix}}
          @size="4x"
        />
        <div class="title-card-text">{{@title}}</div>
      </div>
      <div class="title-card-footer uk-margin-small-top">
        {{yield to="footer"}}
      </div>
    </Link>
  {{/let}}
</UkFlex>