$ember-power-select-trigger-icon-color: transparent;

@import "ember-uikit/variables-theme";
@import "validated-form";
@import "ember-power-select";
@import "flatpickr/dist/flatpickr";
@import "flatpickr/dist/themes/airbnb";

.ebau-gwr {
  .ember-ebau-gwr-login .ember-power-select-status-icon {
    @extend .uk-invisible;
  }

  .ember-power-select-option:hover > small,
  .ember-power-select-option[aria-current="true"] > small {
    mix-blend-mode: multiply;
  }
}

$ember-ebau-gwr-required-color: $alert-danger-color !default;

.required-indicator {
  color: $ember-ebau-gwr-required-color;
}

#ember-ebau-gwr-logout {
  text-decoration: none;
  min-height: $spinner-size;
}

.ember-ebau-gwr-label-width {
  width: 120px;

  .uk-label {
    width: 80px;
  }
}

.ember-ebau-gwr-model-id-width-large {
  width: 90px;
}

.ember-ebau-gwr-model-id-width-small {
  width: 30px;
}

.ember-ebau-gwr-label-height {
  height: 24.5px;
}

.ember-ebau-gwr-label-color-danger {
  color: $alert-danger-color;
  border: 1px solid $alert-danger-color;
  background-color: $alert-danger-background;
}

.ember-ebau-gwr-label-color-warning {
  color: $alert-warning-color;
  border: 1px solid $alert-warning-color;
  background-color: $alert-warning-background;
}

.ember-ebau-gwr-label-color-success {
  color: $alert-success-color;
  border: 1px solid $alert-success-color;
  background-color: $alert-success-background;
}

.ember-ebau-gwr-label-color-default {
  color: $alert-color;
  border: 1px solid $alert-color;
  background-color: $alert-background;
}

.ember-ebau-gwr-submit-errors-multiple {
  text-transform: revert;
}

.ember-ebau-gwr-submit-errors-multiple:hover {
  color: red;
}

.ember-ebau-gwr-model-errors-icon {
  polyline {
    stroke-width: 2;
  }

  path {
    stroke-width: 2;
  }
}

.ember-ebau-gwr-projects-header {
  @extend .uk-box-shadow-small, .uk-margin-large, .uk-background-muted;

  border: 1px solid #e5e5e5;

  table {
    @extend .uk-margin-remove-bottom;
  }
}

.ember-ebau-gwr-import-building-list {
  li:not(.uk-open) {
    @extend .uk-padding-small, .uk-padding-remove-vertical;
  }

  li.uk-open {
    @extend .uk-box-shadow-small, .uk-padding-small;

    hr {
      margin: 10px 0;
    }
  }
}

#ember-ebau-gwr-header-errors {
  li:last-child {
    padding-bottom: $padding-padding;
  }
}

.ember-ebau-gwr-title-card {
  .title-card-content {
    margin-top: 100px;

    .title-card-text {
      @extend .uk-text-large, .uk-text-light;

      white-space: pre-line;
      line-height: 1.5;
      margin-top: 10px;
    }
  }

  .title-card-footer {
    text-transform: initial;
    line-height: initial;
  }
}

// UIkit adjustments
.uk-button-link {
  text-transform: unset;
}

:not(a).uk-button.disabled {
  @extend .uk-button-default;
}

.uk-highlight-hover:hover {
  @extend .uk-text-muted;
}

.margin-right-xs {
  margin-right: 5px;
}
