<UkSwitcher class="uk-margin-small-top uk-animation-fade" as |switcher|>
  <switcher.nav @type="subnav" as |nav|>
    <nav.component uk-switcher @divider={{true}} as |tab|>
      {{#each (repeat 3)}}
        <tab.item>
          <div
            class="ember-ebau-gwr-label-width ember-ebau-gwr-label-height uk-background-muted"
          ></div>
        </tab.item>
      {{/each}}
    </nav.component>
  </switcher.nav>
  <switcher.content as |content|>
    {{#each (repeat 3)}}
      <content.item>
        <ModelErrors::SkeletonErrors />
      </content.item>
    {{/each}}
  </switcher.content>
</UkSwitcher>