{{#let
  (t (concat "ember-gwr.models." @modelName) count=1)
  (get @model (concat @modelName "Status"))
  as |modelName modelStatus|
}}
  <div
    class="uk-margin-right uk-margin-small-bottom uk-width-medium uk-width-1-2@m"
    id="ember-ebau-gwr-status"
  >
    <div class="uk-text-bold">
      {{t "ember-gwr.components.header.status.label"}}
    </div>
    <input
      aria-label={{t "ember-gwr.components.header.status.label"}}
      class="uk-input uk-text-truncate"
      title={{t
        (concat
          "ember-gwr.lifeCycles." @modelName ".statusOptions." modelStatus
        )
        default="ember-gwr.lifeCycles.noStatus"
      }}
      type="text"
      disabled
      value={{t
        (concat
          "ember-gwr.lifeCycles." @modelName ".statusOptions." modelStatus
        )
        default="ember-gwr.lifeCycles.noStatus"
      }}
    />
  </div>
{{/let}}