<div class="uk-flex-expand" id="ember-ebau-gwr-status">
  <span class="uk-text-bold uk-margin-small-right">
    {{t "ember-gwr.components.header.status.label"}}
    :
  </span>
  <span class="uk-label ember-ebau-gwr-label-color-default">
    {{t "ember-gwr.components.header.status.placeholder"}}
  </span>
</div>