<h2>
  {{#if (or @model.isNew (not @model))}}
    {{t (concat "ember-gwr.components.modelForm." @modelName ".titleNew")}}
  {{else}}
    {{t
      (concat "ember-gwr.components.modelForm." @modelName ".title")
      id=@modelId
      modelDescription=@modelDescription
    }}
  {{/if}}
</h2>