<LinkTo @route="project.linked-buildings" @model={{@model}} class="uk-link-muted uk-margin-small-bottom">
  <span uk-icon="icon: arrow-left"></span>
  {{t "ember-gwr.building.backToProject"}}
</LinkTo>
{{outlet}}
