{{#if @errorCount}}
  <div
    class="uk-label uk-label-danger uk-margin-small-left uk-flex-inline uk-flex-middle uk-flex-center uk-flex-none uk-text-small uk-text-bold"
  >
    <small>
      {{@errorCount}}
    </small>
  </div>
{{/if}}