<ul class="uk-list uk-list-divider uk-margin-small-top">
  {{#each (repeat 3)}}
    <li>
      <div class="uk-flex uk-flex-left uk-flex-top">
        <div
          class="ember-ebau-gwr-label-width ember-ebau-gwr-label-height uk-background-muted"
        ></div>
        <div
          class="uk-margin-left uk-width-expand ember-ebau-gwr-label-height uk-background-muted"
        ></div>
      </div>
    </li>
  {{/each}}
</ul>