{{! template-lint-disable no-bare-strings}}
<ul>
  <li>
    <LinkTo @route="gwr-global">
      Globale Ansicht
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="gwr" @model={{1}}>
      Dossier 1
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="gwr" @model={{2}}>
      Dossier 2
    </LinkTo>
  </li>
</ul>

<div id="modal-container"></div>
<div class="uk-padding uk-container">
  {{outlet}}
</div>